
.ipynb_checkpoints/HALP-checkpoint.ipynb
.ipynb_checkpoints/Linear Regression SL-checkpoint.ipynb
.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
__pycache__/precision_util.cpython-36.pyc
*.pyc
.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
*.ipynb
.ipynb_checkpoints/Linear Regression-checkpoint.ipynb
